body {

  background-color: #FFFDF6;

}


.Logo {

  color: #434343;
  font-size: 70px;
  text-align: center;
  margin-top: 200px;
  display: flex;
  justify-content: center;

}


.Input {
  
  width: 500px; height: 30px;
  margin-left: 600px;
  border-radius: 1rem;
  background-color: #ffffdd;
  display: flex;
  justify-content: center;

}

.addBtn {

  text-align: center;
  background-color: #ffffdd;
  width: 50px; height: 36px;
  margin: 0 auto;
  border-radius: 1rem;
  display: block;
 
}